---
layout: default
---

<div class="mb5">
  <p class="mt0 mb2">
    senseicodeは、最近話題の「プログラミング教育」が気になる学校の先生方向けの情報サイトです。2016年7月に開始したばかりであまり記事がありませんが、よろしければ「1」から順に読んでみてください。
  </p>
  <h2 class="f4 mt4 mb1">記事リスト</h2>
  <ul class="list pa0 mt0">
    {% for post in site.posts reversed %}
      {% unless post.draft %}
        <li class="mt0 mb2">
          <a href="{{ post.url }}" class="color-inherit no-underline hover-color">
            <span class="red mr1">{{ post.issue }}</span><span class="silver mr1">/</span>{{ post.title }} <span class="moon-gray f6">{{ post.published_at | date: "%Y/%-m/%-d" }}</span>
          </a>
        </li>
      {% endunless %}
    {% endfor %}
  </ul>
</div>

{% include mailchimp.html %}
{% include about-me.html %}
