<div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb4">
  <h2 class="f5 mt0 mb2 tc">はじめて訪れてくださった方へ</h2>
  <p class="f6 mt0 mb2 tc">
    senseicodeは、最近話題の「プログラミング教育」が気になる学校の先生方向けの情報サイトです。語り手はアメリカの教育業界でエンジニアをしている上杉周作です(<a href="http://chibicode.com/jp" class="color-inherit hover-color">プロフィール</a>)。
  </p>
  <p class="mb0 tc">
    <a href="/1-introduction" class="dib pv1 ph3 ba b--light-silver br2 no-underline gray bg-black-05 btn-hover-color pointer f6 ">
      はじめての方向けの記事はこちら
    </a>
  </p>
</div>
