<div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb2">
  <h2 class="f5 mt0 mb2 tc">著者:上杉周作</h2>
  <div class="mb2 tc">
    <img src="/images/shu.jpg" width="100" height="100" class="br-100" />
  </div>
  <div class="f6 post-content">
    <p>
      日本とアメリカ育ちのゆとり世代。シリコンバレー在住のエンジニアです。
    </p>
    <p>
      略歴: 88年生まれ。カーネギーメロン大学卒。学位はComputer Science学士・Human-Computer Interaction修士。Apple・Facebook・Palantirでエンジニア職、Quoraでデザイナー職を経験。その後半年間日本でニートになり、2012年9月よりシリコンバレーの教育ベンチャー・<a href="http://edsurge.com">EdSurge</a>に就職。
    </p>
    <p>
      メールは<a href="mailto:shu@chibicode.com">shu@chibicode.com</a>へどうぞ。
    </p>
  </div>
  <p class="mb0 tc">
    <a href="http://chibicode.com/jp" class="dib pv1 ph3 ba b--light-silver br2 no-underline gray bg-black-05 btn-hover-color pointer f6">
      著者の個人ブログを見る
    </a>
  </p>
</div>
