<div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb2">
  <div class="mb3 tc">
    <h2 class="f5 mt0 mb2">メールで新着記事を受け取る</h2>
    <p class="f6 mt0 mb3 silver">
      更新毎ではなく、新しい記事を「三記事ずつ」送りますので、メールの頻度は少なめです。
    </p>
  </div>
  <form action="//chibicode.us2.list-manage.com/subscribe/post?u=5837b6e89a84faa418fd21987&amp;id=b39a347ad4" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" novalidate class="f6">
    <div class="mb2 cf">
      <div class="fl w-40-ns w-100 mb0-ns tr-ns pr2-ns pv1-ns">
        <label for="mce-NAME">お名前<span class="silver">(必須)</span></label>
      </div>
      <div class="fl w-60-ns w-100 mb0-ns">
        <input type="text" value="" name="NAME" class="input-reset ba b--light-silver pv1 ph2 br2 db w-80-ns w-100" id="mce-NAME" placeholder="お名前">
      </div>
    </div>
    <div class="mb3-ns mb2 cf">
      <div class="fl w-40-ns w-100 mb0-ns tr-ns pr2-ns pv1-ns">
        <label for="mce-EMAIL">メールアドレス<span class="silver">(必須)</span></label>
      </div>
      <div class="fl w-60-ns w-100 mb0-ns">
        <input type="email" value="" name="EMAIL" class="input-reset ba b--light-silver pv1 ph2 br2 db w-80-ns w-100" id="mce-EMAIL" placeholder="メールアドレス">
      </div>
    </div>
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5837b6e89a84faa418fd21987_b39a347ad4" tabindex="-1" value=""></div>
    <div class="cf">
      <div class="fl w-40-ns w-100 mb0-ns mb2 tr pr2-ns pv1"></div>
      <div class="fl w-60-ns w-100 mb0-ns mb2">
        <input type="submit" value="更新情報を受け取る" name="subscribe" id="mc-embedded-subscribe" class="db pv1 ph3 ba b--light-silver br2 no-underline gray bg-black-05 btn-hover-color pointer w-80-ns w-100">
      </div>
    </div>
  </form>
</div>
