@import "tachyons/src/tachyons.css";

body {
  font-family: 'Roboto Mono', sans-serif;
  line-height: 1.8; /* Japanese Text */
  color: #4c4c4c;
}

@media (--breakpoint-large) {
  html {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, strong {
  color: #111;
}

.logo:hover .logo-c {
  animation: bgcolorchange 3s infinite;
  color: #111;
  transition: color 0.5s ease-in;
}

.logo:hover {
  color: #FF4136;
  background: #111;
  transition: background-color 0.5s ease-in;
  animation: colorchange 3s infinite;
}

.btn-hover-color:hover {
  border-color: #FF4136;
  color: #FF4136;
}

.container {
  max-width: 576px;
  max-width: 36rem;
}

.color-inherit {
  color: inherit;
}

.logo-highlight {
  background-color: yellow;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

.hover-color:hover {
  color: #FF4136;
}

.post-content {
  & a {
    color: inherit;
  }

  & a:hover {
    color: #FF4136;
  }

  & p,
  & ul {
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  & .twitter-tweet {
    margin-top: 0 !important;
    margin-bottom: 1.5rem !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  & blockquote {
    margin-left: 0;
    margin-right: 0;
    padding-left: 1rem;
    border-color: #eee;
    border-left-width: 0.5rem;
    border-left-style: solid;
  }

  & h2 {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: 700;
    margin-top: 3rem;
    margin-bottom: 0.5rem;
  }

  & img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & .border {
    border: 1px solid #eee;
  }

  & .align-left {
    margin-left: 0;
    margin-right: auto;
  }

  & hr {
    border-top: 1px solid #eee;
    border-bottom: none;
    margin: 3rem 0 1.5rem;
  }

  & figure {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 1.5rem;
  }

  & figcaption {
    display: block;
    text-align: center;
    color: #999;
    font-size: 0.85rem;
  }
}

.fb_iframe_widget.fb-like {
  font-size: 0; /* Necessary to get rid of some pixels on top */
  vertical-align: middle;
}

.twitter-tweet-button {
  vertical-align: middle;
}

/* Adjust hue by 36 at each step */
@keyframes bgcolorchange {
  0%   { background: #FF4136; }
  10%  { background: #FFB836; }
  20%  { background: #CDFF36; }
  30%  { background: #54FF36; }
  40%  { background: #36FF90; }
  50%  { background: #36F5FF; }
  60%  { background: #367CFF; }
  70%  { background: #6836FF; }
  80%  { background: #E136FF; }
  90%  { background: #FF36A4; }
  100% { background: #FF4136; }
}

@keyframes colorchange {
  0%   { color: #FF4136; }
  10%  { color: #FFB836; }
  20%  { color: #CDFF36; }
  30%  { color: #54FF36; }
  40%  { color: #36FF90; }
  50%  { color: #36F5FF; }
  60%  { color: #367CFF; }
  70%  { color: #6836FF; }
  80%  { color: #E136FF; }
  90%  { color: #FF36A4; }
  100% { color: #FF4136; }
}
