---
layout: default
---

<article>
  <header class="mb4">
    <h1 class="f3 f2-ns mt0 fw7 lh-copy lh-title-ns black tracked-tight">
      <span class="red mr1">{{ page.issue }}</span><span class="silver mr1">/</span>{{ page.title }}</a>
    </h1>
  </header>
  {% unless page.issue == 1 %}
    {% include about-senseicode.html %}
  {% endunless %}
  <section class="post-content js-post-content mb4">
    {{ content }}
  </section>
  <section class="mb4">
    {% if page.published_at %}
    <div>
      <time datetime="{{ page.date | date_to_xmlschema}}" class="gray f6">
        公開日: {{ page.published_at | date: "%Y/%-m/%-d" }}
      </time>
    </div>
    {% endif %}
  </section>
  <div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb2">
    <h2 class="f5 mt0 mb2 tc">シェアしてくださると嬉しいです</h2>
    <div class="tc">
      <div class="fb-like" data-href="{{ site.github.url }}{{ page.url }}" data-layout="button" data-action="like" data-size="large" data-show-faces="false" data-share="true"></div>
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="{{ site.github.url }}{{ page.url }}" data-text="{{ page.title }}" data-via="chibicode" data-lang="ja" data-size="large"></a>
    </div>
    {% if page.tweet_id %}
    <div class="mt4">
      <blockquote class="twitter-tweet tw-align-center" data-lang="ja" data-conversation="none" data-cards="hidden"><p lang="und" dir="ltr"><a href="https://twitter.com/chibicode/status/{{ page.tweet_id }}"></a></blockquote>
    </div>
    {% endif %}
  </div>
  {% if page.next_issues %}
    <div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb2">
      <h2 class="f5 mt0 mb2 tc">次はこちらの記事をどうぞ</h2>
      <ul class="list pa0">
      {% for next_issue in page.next_issues %}
        {% assign next_posts = site.posts | where:"issue",next_issue %}
        {% for next_post in next_posts %}
          {% unless next_post.draft %}
            <li class="mt0 mb2">
              <a href="{{ next_post.url }}" class="color-inherit hover-color no-underline">
                <span class="red mr1">{{ next_post.issue }}</span><span class="silver mr1">/</span><span class="underline">{{ next_post.title }}</span>
              </a>
            </li>
          {% endunless %}
        {% endfor %}
      {% endfor %}
      </ul>
    </div>
  {% else %}
    <div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb2">
      <h2 class="f5 mt0 mb2 tc">次の記事はまだありません</h2>
      <div class="f6 tc silver">
        下のフォームから購読していただければ、新着記事をメールでお知らせします。
      </div>
    </div>
  {% endif %}
  {% include mailchimp.html %}
  {% include about-me.html %}
  <div class="br3 bw1 b--black-05 bw2 ba pb3 pt3 ph4 mb2">
    <h2 class="f5 mt0 mb2 tc">記事リスト</h2>
    <ul class="list pa0 f6">
    {% for post in site.posts %}
      {% unless post.draft %}
        <li class="mt0 mb2">
          {% if post.url == page.url %}
            <span class="silver mr1">{{ post.issue }}</span><span class="silver mr1">/</span><span class="silver">{{ post.title }} (このページの記事)</span>
          {% else %}
            <a href="{{ post.url }}" class="color-inherit hover-color no-underline">
              <span class="red mr1">{{ post.issue }}</span><span class="silver mr1">/</span><span class="underline">{{ post.title }}</span>
            </a>
          {% endif %}
        </li>
      {% endunless %}
    {% endfor %}
    </ul>
  </div>
</article>
