---
layout: default
---

<article>
  <header class="mb4">
    <h1 class="f3 f2-ns mt0 fw7 lh-copy lh-title-ns black">
      <span class="red mr1">{{ page.issue }}</span><span class="silver mr1">/</span>{{ page.title }}</a>
    </h1>
  </header>
  <section class="post-content mb4">
    {{ content }}
  </section>
  <section class="mb6">
    {% if page.published_at %}
    <div>
      <span class="gray">
        公開日: {{ page.published_at | date: "%Y年%-m月%-d日" }}
      </span>
    </div>
    {% endif %}
    <div>
      <time datetime="{{ page.date | date_to_xmlschema}}" class="gray">
        執筆日: {{ page.written_at | date: "%Y年%-m月%-d日" }}
      </time>
    </div>
  </section>
  {% include mailchimp.html %}
</article>
